{{- $context := . -}}

{{- $config := site.Params.contact -}}
{{- $networks := $config.networks -}}

<style>
  .svg-link object {
    pointer-events: none;
    fill: var(--fg-color);
    transition: transform 0.3s ease;
  }
  .svg-link:hover object {
    fill: var(--brand-color);
  }
</style>

<div class="flex flex-row flex-wrap">
  {{- range $networks -}}
    {{- $network := . -}}
    {{- $setup := collections.Index $config $network -}}
    {{- $profile := collections.Index $setup "profile" -}}
    {{- $rel := $setup.rel | compare.Default "" -}}

    {{- $link := $setup.send_msg -}}
    {{- with $setup.username -}}
      {{- $link = printf $link . -}}
    {{- end -}}

    {{- $languageDirection := compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "ml2" "mr2" -}}
      {{/* @todo add the following lines to a partial, reused in social/share.html */}}
      {{- if $setup.icon -}}
        <a href="{{ $link }}" target="_blank" rel="noopener{{- with $rel }} {{ . -}}{{- end -}}"
          class="svg-link {{ $network }} dib z-999 pt3 pt0-l {{ $languageDirection }}"
          title="Entre em contato pelo {{ $network | title }}, abre em uma nova aba do navegador"
          aria-label="Entre em contato pelo {{ $network | title }}, abre em uma nova aba do navegador">
        {{- with $setup.icon -}}
          <object data="/images/icons/{{ . }}" alt="Ícone {{ . }}" class="w2 db" type="image/svg+xml"></object>
        {{- end -}}
        </a>
      {{- else -}}
        <a href="{{ $link }}" target="_blank" rel="noopener{{- with $rel }} {{ . -}}{{- end -}}"
          class="p-mono button-link svg-link br2 pv2 ph3 mt2 db {{ $network }} dib z-999 {{ $languageDirection }}"
          title="Entre em contato pelo {{ $network | title }}, abre em uma nova janela"
          aria-label="Entre em contato pelo {{ $network | title }}, abre em uma nova janela">
          {{- $network -}}
        </a>
      {{- end -}}
  {{- end -}}
</div>
