{{ define "main" }}
{{/*
  This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
   */}}
  <article class="pv4 mw8-l center nested-copy-line-height">
    <section class="cf ph3 ph5-l pt3 pt4-l f4 center lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      {{ .Content }}
    </section>

    <aside class="flex flex-wrap w-100 justify-between">
      {{ range .Paginator.Pages }}
        <div class="w-100 w-50-l relative pa3 flex">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </aside>

    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
