{{ define "header" }}
  {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $page := .}}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="center flex-wrap justify-between">
    <header class="w-100">
      {{ with .Params.author | compare.Default .Site.Params.author }}
      <p class="tracked">
        {{- if compare.Eq $page.Language "de" "en" "es" "fr" "it" "no" "pt" -}}
          {{- lang.Translate "by" -}}
        {{ end -}} <strong>
        {{- if reflect.IsSlice . -}}
            {{ collections.Delimit . ", " | transform.Markdownify }}
        {{- else -}}
            {{ . | transform.Markdownify }}
        {{- end -}}
        </strong>
      </p>
      {{ end }}
    </header>
    <div class="w-100 center {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      {{- .Content -}}
      {{- partials.Include "tags.html" . -}}
      <div class="mt6 instapaper_ignoref">
      {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partials.Include "commento.html" . -}}
      {{ end }}
      </div>
    </div>
  </article>
{{ end }}
