<div class="mb4 nested-copy-line-height relative">
  <div class="mb3 pa3 overflow-hidden h-100 flex flex-column g3">

    {{ with .Params.featured_image }}
    <div class="w-100 flex-shrink-0 mb3">
      <a href="{{ $.RelPermalink }}" class="db">
        <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="db w-100 br2 aspect-16-9 object-cover">
      </a>
    </div>
    {{ end }}

    <div class="overline-text tracked mb2">
      {{ with .Params.date }}
        <span class="overline-text"><b>{{ time.Format "02/01/2006" . }}</b>
      {{ end }}
      {{ with .Params.tags }}|{{ range $index, $tag := . }}
        {{ if $index }}・ {{ end }}{{ . | title}}
      {{ end }}{{ end }}
    </div>

    <h1 class="heading4 mv0">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h1>

    <div class="w-100">
      <div class="lh-copy nested-copy-line-height">
        <p class="mv0">
        {{ if .Params.description }}
          {{ .Params.description }}
        {{ else }}
          {{ .Summary }}
        {{ end }}
        </p>
      </div>
      <a href="{{ .RelPermalink }}" class="button-link overline-text br2 pv1 ph2">
        {{ $.Param "read_more_copy" | compare.Default (lang.Translate "readMore") }}
      </a>
    </div>

  </div>
</div>
