{{ define "main" }}
  <article class="w-90 mw8 center">
    <h1 class="subtitle mt5 mb6">[ {{ .Data.Singular }} ]:</h1>
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      <p>{{ lang.Translate "taxonomyPageList" . }}</p>
    </div>
  </article>

  <aside class="flex flex-wrap w-100 mw8 mt5 center justify-between card-grid">
    {{ range .Paginator.Pages }}
      <div class="w-100 w-50-m w-33-l flex">
        {{ .Render "summary" }}
      </div>
    {{ end }}
  </aside>
{{ end }}
