{{ $cover_dimming_class := site.Params.cover_dimming_class | compare.Default "bg-black-60" }}
<nav class="fixed top-0 left-0 right-0 z-max site-nav ph3 ph4-ns bg-slategray shadow-bottom" role="navigation">
  <div class="flex-l center items-center justify-between">

    <div class="flex justify-between items-center w-100 w-auto-l">
      <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 dib flex no-underline">
        {{ with .Site.Params.site_logo }}
          <img src="{{ urls.RelURL . }}" class="nav-logo site-logo" alt="{{ $.Site.Title }}" />
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      </a>

      <button id="menu-toggle" class="pointer bg-transparent fg-slategray mono bn f3 dn-l" aria-label="Abrir menu">
        [+]
      </button>
    </div>

    <div id="nav-menu" class="dn center flex-l items-center w-100 w-auto-l mt3 mt0-l">
      {{ partials.Include "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="list flex flex-column flex-row-l mv0 pl0">
          {{ range .Site.Menus.main }}
          <li class="nav-item nav-text f5 f4-ns fw4 pv2 pv0-l ml3">
            <a class="no-underline db" href="{{ .URL }}" title="{{ lang.Translate "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>

    <div id="social-menu" class="dn right flex-l items-center w-100 w-auto-l mt3 mt0-l">
      {{ if .Site.Menus.social }}
        <ul class="list flex flex-column flex-row-l mv0 pl0">
          {{ range .Site.Menus.social }}
          <li class="nav-text fw4 pb4 pt3 pv0-l ml3">
            <a class="button-link-symbolic no-underline bn b db pv2 ph3 br2 ttu mw4 tc" href="{{ .URL }}" title="{{ lang.Translate "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>

  </div>
</nav>

<script>
  document.getElementById('menu-toggle').addEventListener('click', function() {
    var nav = document.getElementById('nav-menu');
    var social = document.getElementById('social-menu');
    var toggleBtn = this;

    if (nav.classList.contains('dn')) {
      nav.classList.remove('dn');
      social.classList.remove('dn');

      nav.classList.add('db');
      social.classList.add('db');

      toggleBtn.textContent = '[-]';
      toggleBtn.setAttribute('aria-label', 'Fechar menu');
    } else {
      nav.classList.remove('db');
      social.classList.remove('db');

      nav.classList.add('dn');
      social.classList.add('dn');

      toggleBtn.textContent = '[+]';
      toggleBtn.setAttribute('aria-label', 'Abrir menu');
    }
  });
</script>
