<style>
  .aspect-16-9 {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }
</style>

<div class="w-100 mw6 center mb4 relative p-mono hide-child">
  <a href="{{ $.RelPermalink }}" class="db">
    <div class="pa3 overflow-hidden br1 flex flex-column grow">
      {{ with .Params.featured_image }}
      <div class="w-100">
        <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="aspect-16-9 db w-100 br1 object-cover" style="max-height: 250px; width: 100%; object-position: center;">
      </div>
      {{ end }}
      {{ with .Params.description }}
        <div class="p-mono mv3 center slategray-800 child">
          {{ . }}
        </div>
      {{ end }}
    </div>
  </a>
</div>
