<style>
  .aspect-16-9 {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }
</style>

<div class="w-100 mw6 center mb4 relative">
  <div class="pa3 overflow-hidden br3 flex flex-column">

    {{ with .Params.featured_image }}
    <div class="w-100">
      <a href="{{ $.RelPermalink }}" class="db">
        <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="aspect-16-9 db w-100 br2 object-cover grow" style="max-height: 250px; width: 100%; object-position: center;">
      </a>
    </div>
    {{ end }}

    <div class="w-100">

      <div class="summary-content nested-links f5 lh-copy nested-copy-line-height">
        {{ .Summary }}
      </div>

      <a href="{{ .RelPermalink }}" class="button-link overline-text ba br2 dib f7 link mt2 ph2 pv1">
        Saiba mais
      </a>
    </div>

  </div>
</div>
