{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}My Blog{% endblock %}
{% block body %}
  <h1>Blog</h1>

  <ul class="blog-index">
  {% for post in this.pagination.items %}
    <h4><a href="{{ post|url }}">{{ post.title }}</a></h4>
    <p style="color:var(--page-text)">{{ post.pub_date|dateformat('dd/MM/YYYY') }}
    {% if post.tags %} |
        {% for t in post.tags %}
            <code><a href="{{ ('/blog@tag/' ~ t)|url }}">{{ t }}</a></code>
        {% endfor %}
    {% endif %}
   </p>
    <hr style="border: 1px dashed; border-style: none none dotted none;">
  {% endfor %}
  </ul>

  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}
