{% extends "layout.html" %}
{% block title %}Tag: {{ this.tag }}{% endblock %}
{% block body %}
    <h1>Tag: {{ this.tag }}</h1>

<div class="posts-list">
    <ul>
            {% for i in this.items %}
            {% set other_tags = i.tags | reject('equalto', this.tag) | list %}
		<li><b>[{{ i.pub_date }} <code>{{other_tags | join(', ') }}</code>]</b> <a href="{{ i|url }}">{{ i.title }}</a></li>
            {% else %}
            <li><em>No items.</em></li>
            {% endfor %}
    </ul>
</div> 
{% endblock %}
