/*site body*/
.pb7 {
  background-color: #f0f0f0;
}

/*site header*/
div.bg-dark-green {
  background-color: darkslategray;
}

/*site footer*/
footer.bg-dark-green {
  background-color: darkslategray;
}

/*links*/
a {
  text-decoration: none;
}
.nested-links a:focus, .nested-links a:hover {
    color: #264d80;
    transition: color .08s ease-in;
}

/*code blocks*/
pre code {
  color: black;
  background-color: #fff;
}

/*callout*/
blockquote.alert {
  background-color: #e0e0e0;
}
/*callout: success*/
blockquote.alert.alert-success {
  border-left-color: green;
}
/*callout: warning + pending*/
blockquote.alert.alert-warning,
blockquote.alert.alert-pending {
  border-left-color: darkgoldenrod;
}

/*callout-heading*/
blockquote.alert p.alert-heading::before {
  margin: 0.5em;
}
/*callout-heading: success*/
blockquote.alert-success p.alert-heading::before {
  content: "✅"
}
blockquote.alert-success p.alert-heading {
  color: green;
}
/*callout-heading: warning + pending*/
blockquote.alert-warning p.alert-heading::before {
  content: "⚠️"
}
blockquote.alert-pending p.alert-heading::before {
  content: "🕐"
}
blockquote.alert-warning p.alert-heading,
blockquote.alert-pending p.alert-heading {
  color: darkgoldenrod;
}

