/*site body*/
.pb7 {
  background-color: #f0f0f0;
}

/*links*/
a {
  text-decoration: none;
}
.nested-links a:focus, .nested-links a:hover {
    color: #264d80;
    transition: color .08s ease-in;
}

/*code blocks*/
pre code {
  color: black;
  background-color: #fff;
}

/*callout*/
blockquote.alert {
  background-color: #e0e0e0;
}

/*callout-success*/
blockquote.alert.alert-success {
  border-left-color: green;
}
/*callout-successs: heading*/
blockquote.alert-success p.alert-heading::before {
  content: "✅‎"
}
blockquote.alert-success p.alert-heading {
  color: green;
}

/*callout-warning + callout-pending*/
blockquote.alert.alert-warning,
blockquote.alert.alert-pending {
  border-left-color: darkgoldenrod;
}
blockquote.alert-warning p.alert-heading,
blockquote.alert-pending p.alert-heading {
  color: darkgoldenrod;
}
/*callout-warning: heading*/
blockquote.alert-warning p.alert-heading::before {
  content: "⚠️‎"
}
/*callout-pending: heading*/
blockquote.alert-pending p.alert-heading::before {
  content: "🕐‎"
}

