/*site body*/
.pb7 {
  background-color: #f0f0f0;
}

/*site header*/
div.bg-dark-green {
  background-color: darkslategray;
}
/*site header: socials*/
div.ananke-socials:not([id]) a {
    color: #ffffffe6;
}
div.ananke-socials:not([id]) a:hover {
    color: #fff;
}

/*site footer*/
footer.bg-dark-green {
  background-color: darkslategray;
}

/*links*/
a {
  text-decoration: none;
}
.nested-links a {
  color: #52827e;
}
.nested-links a:focus, .nested-links a:hover {
    color: #21a7a0;
    transition: color .08s ease-in;
}

/*tables*/
th {
  background-color: darkslategray;
  color: #ffffff;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dbeaec;
}

/*code blocks*/
pre code {
  color: black;
  background-color: #fff;
}

/*callout*/
blockquote.alert {
  background-color: #e0e0e0;
}
/*callout: success*/
blockquote.alert.alert-success {
  border-left-color: green;
}
/*callout: warning + pending*/
blockquote.alert.alert-warning,
blockquote.alert.alert-pending {
  border-left-color: darkgoldenrod;
}
/*callout: product + service + analysis*/
blockquote.alert.alert-product,
blockquote.alert.alert-retail,
blockquote.alert.alert-service,
blockquote.alert.alert-analysis {
  border-left-color: teal;
}

/*callout-heading*/
blockquote.alert p.alert-heading::before {
  margin: 0.5em;
}
/*callout-heading: success*/
blockquote.alert-success p.alert-heading::before {
  content: "✅"
}
blockquote.alert-success p.alert-heading {
  color: green;
}
/*callout-heading: warning + pending*/
blockquote.alert-warning p.alert-heading::before {
  content: "⚠️"
}
blockquote.alert-pending p.alert-heading::before {
  content: "🕐"
}
blockquote.alert-warning p.alert-heading,
blockquote.alert-pending p.alert-heading {
  color: darkgoldenrod;
}
/*callout-heading: product + service + analysis*/
blockquote.alert-product p.alert-heading::before,
blockquote.alert-retail p.alert-heading::before {
  content: "🛒"
}
blockquote.alert-service p.alert-heading::before {
  content: "🛠️"
}
blockquote.alert-analysis p.alert-heading::before {
  content: "📊"
}
blockquote.alert-product p.alert-heading,
blockquote.alert-retail p.alert-heading,
blockquote.alert-service p.alert-heading,
blockquote.alert-analysis p.alert-heading {
  color: teal;
}
