:root {
  --nav-height: 52px;
}

/*site nav*/
.nav-clearance {
  margin-top: calc( var(--nav-height) + 2px);
}

.nav-logo {
  margin: calc( var(--nav-height) - 32px) 0px;
}

/*table of contents*/
div.sticky-toc {
  position: sticky;
  top: 6em;
  border-radius: 8px;
}

/*site title block*/
@media screen and (min-width: 60em) {
  .pv6-l {
    padding-top: 2rem;/*reduce top padding*/
    padding-bottom: 8rem;
  }
}

/*tables*/
table {
  border-spacing: 0px;
  font-family: Inter;
}
td {
  padding: 6px;
}

/*code blocks*/
pre {
  overflow-x: auto;/*display scrollbar only when needed*/
  overflow-y: auto;
  border-radius: 8px; /*rounded corners*/
}

/*callouts*/
blockquote.alert {
  padding: 0px 20px;
}
/*callouts: heading*/
blockquote.alert p.alert-heading {
  font-family: 'Space Mono';
  font-size: 20px;
  text-transform: uppercase;
}

.ananke-social-link {
  margin: 16px 20px 16px 0px;
}

/* Enforce aspect ratio on images */
.aspect-4-3 {
  display: block;
  width: inherit;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;
}

.aspect-16-9 {
  display: block;
  width: inherit;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

