/* Theme variables
:root {
    --page-bg: #212729;
    --page-dark-bg: #1a1d1f;
    --page-light-bg: #183034;
    --page-text: #8db2b0;
    --link-color: #84b3b0;
    --link-hover-color: #2f8683;
    --header-text: #20B2AA;
    --header-bg: #293f46;
    --success-text: #84b397;
    --success-bg: #23352d;
    --faliure-text: #b38484;
    --faliure-bg: #352323;
}

body.light-theme {
    --page-bg: #ffffff;
    --page-dark-bg: #e9f2f1;
    --page-light-bg: #dbeaec;
    --page-text: #47827d;
    --link-color: #52827e;
    --link-hover-color: #21a7a0;
    --header-text: darkslategray;
    --header-bg: #e9f2f1;
    --success-text: #496133;
    --success-bg: #d9f5d5;
    --faliure-text: #8b4848;
    --faliure-bg: #e5c5c5;
}
*/

:root {
  --teal-400: #32d6d0;
  --teal-500: #12bbb7;
  --teal-700: #008181;
}


h1 {
  font-family: 'Space Grotesk';
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Space Mono';
  font-size: 36px;
}

p td {
  font-family: Inter;
  font-size: 16px;
}

li {
  font-family: Inter;
}

code {
  font-family: 'Space Mono';
  font-size: 16px;
}


/*site navigation: item*/
.nav-item {
  font-family: 'Space Mono';
  font-weight: normal;
  font-size: 18px;
  margin-right: inherit;
  text-transform: lowercase;
}

/*site header: title*/
h1.f-subheadline-l {
  font-family: 'Space Grotesk';
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}

/*site header: description*/
h2.white-80 {
  font-family: 'Space Mono';
  font-size: 20px;
}

.summary-overline {
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-size: 13px;
}

.summary-title {
  font-family: 'Space Mono';
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
}

.summary-content {
  font-family: Inter;
  font-size: 16px;
}

.summary-readmore {
  font-family: 'Space Mono';
  color: var(--teal-700);
  border: solid 1px var(--teal-700);
  text-transform: uppercase;
  font-size: 13px;
}

.summary-readmore:hover {
  color: white;
  background-color: var(--teal-700);
}
