/* Theme variables
:root {
    --page-bg: #212729;
    --page-dark-bg: #1a1d1f;
    --page-light-bg: #183034;
    --page-text: #8db2b0;
    --link-color: #84b3b0;
    --link-hover-color: #2f8683;
    --header-text: #20B2AA;
    --header-bg: #293f46;
    --success-text: #84b397;
    --success-bg: #23352d;
    --faliure-text: #b38484;
    --faliure-bg: #352323;
}

body.light-theme {
    --page-bg: #ffffff;
    --page-dark-bg: #e9f2f1;
    --page-light-bg: #dbeaec;
    --page-text: #47827d;
    --link-color: #52827e;
    --link-hover-color: #21a7a0;
    --header-text: darkslategray;
    --header-bg: #e9f2f1;
    --success-text: #496133;
    --success-bg: #d9f5d5;
    --faliure-text: #8b4848;
    --faliure-bg: #e5c5c5;
}
*/


h1, .heading1 {
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

h2, .heading2 {
  font-family: 'Space Mono';
  font-size: 32px;
}

h3, .heading3 {
  font-family: 'Space Mono';
  font-weight: normal;
  font-size: 25px;
}

h4, .heading4 {
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 20px;
}

.d1 {
  font-family: Anton;
  font-weight: normal;
  font-size: 112px;
  text-transform: uppercase;
  overflow-wrap: break-word;
  hyphens: auto;
}

.d2 {
  font-family: Anton;
  font-weight: normal;
  font-size: 90px;
  text-transform: uppercase;
}

.d3 {
  font-family: Anton;
  font-weight: normal;
  font-size: 72px;
  text-transform: uppercase;
}

p, p td, .p {
  font-family: Inter;
  font-size: 16px;
}

li {
  font-family: Inter;
}

code {
  font-family: 'Space Mono';
  font-size: 16px;
}


/*site navigation: item*/
li.nav-item a {
  font-family: 'Space Mono';
  color: var(--slategray-800);
  font-weight: normal;
  font-size: 18px;
  margin-right: inherit;
  text-transform: lowercase;
  transition: linear 0.1s;
}
li.nav-item a:hover {
    color: black;
}

.ananke-socials a {
  fill: var(--slategray-800);
  transitio: linear 0.1s;
}
.ananke-socials a:hover {
  fill: black;
}

/*site header: title*/
h1.f-subheadline-l {
  font-family: 'Space Grotesk';
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  word-break: break-word;
}

/*site header: description*/
h2.white-80 {
  font-family: 'Space Mono';
  font-size: 20px;
}

/*summary page elements*/
.summary-overline {
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-size: 13px;
}

.summary-title {
  font-family: 'Space Mono';
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  word-break: break-word;
}

.summary-content {
  font-family: Inter;
  font-size: 16px;
}

.summary-readmore {
  font-family: 'Space Mono';
  color: var(--teal-700);
  border: solid 1px var(--teal-700);
  text-transform: uppercase;
  font-size: 13px;
}

.summary-readmore:hover {
  color: white;
  background-color: var(--teal-700);
}


/*call-to-action elements*/
a.cta-button-dark {
  font-family: 'Space Mono';
  font-weight: bold;
  border: solid 1px white;
  color: white;
}
a.cta-button-dark:hover {
  color: black;
  background-color: var(--teal-400);
  border: solid 1px var(--teal-400);
}

a.cta-button {
  font-family: 'Space Mono';
  font-weight: bold;
  color: var(--teal-700);
  border: solid 1px var(--teal-700);
}
a.cta-button:hover {
  color: white;
  background-color: var(--teal-700);
}

/*call-to-action block occupying all page height*/
.cta-block-ph {
  height: calc(100vh - 190px);
}
