@font-face {
  font-family: 'Roboto Slab';
  src: url('/static/fonts/SlabRobotoSlab-VariableFont_wght.ttf') format('ttf');
  font-weight: 100 900; /* Range of weights */
  font-style: normal;
}

:root {
    --bg-color: #293f46;
    --page-bg: #212729;
    --page-text: #84b3b1;
    --link-color: teal;
    --link-hover-color: darkcyan;
    --header-text: #20B2AA;
}

/* Dark Theme Variables */
body.light-theme {
    --bg-color: #84b3b1;
    --page-bg: #d3dadd;
    --page-text: #127772;
    --link-color: #0d4d49;
    --link-hover-color: #127772;
    --header-text: #103936;
}

body {
    margin: 50px 25px;
    background-color: var(--bg-color);
}

footer {
    color: var(--page-text);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

p {
    line-height: 1.5;
}

li {
    line-height: 1.5;
    margin-bottom: 9px;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    padding: 20px 30px;
}

header, footer {
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.page {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    color: var(--header-text);
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

h2 {
    font-size: x-large;
    font-weight: normal;
}

header a {
    color: var(--header-text);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: var(--page-bg);
    color: var(--page-text)
}

pre {
    padding: 18px;
    background: #1a1a1a;
    font-family: Consolas, monospace;
    font-size: medium;
}

blockquote {
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 9px 18px;
}

blockquote.callout-success {
    background: #233435;
    border-left: 2px solid #84b3b1;

}

blockquote.callout-faliure {
    background: #352323;
    border-left: 2px solid #b38484;
    color: #b38484;
}
