@font-face {
  font-family: 'Roboto Slab';
  src: url('/static/fonts/SlabRobotoSlab-VariableFont_wght.ttf') format('ttf');
  font-weight: 100 900; /* Range of weights */
  font-style: normal;
}

:root {
    --page-bg: #212729;
    --page-dark-bg: #1a1d1f;
    --page-text: #84b3b1;
    --link-color: teal;
    --link-hover-color: darkcyan;
    --header-text: #20B2AA;
    --header-bg: #293f46;
    --success-text: #84b397;
    --success-bg: #23352d;
    --faliure-text: #b38484;
    --faliure-bg: #352323;
}

/* Light Theme Variables */
body.light-theme {
    --page-bg: #ffffff;
    --page-dark-bg: #e9f2f1;
    --page-text: #47827d;
    --link-color: #52827e;
    --link-hover-color: #21a7a0;
    --header-text: darkslategray;
    --header-bg: #e9f2f1;
    --success-text: #496133;
    --success-bg: #d9f5d5;
    --faliure-text: #8b4848;
    --faliure-bg: #e5c5c5;
}

body {
    margin: 50px 25px;
    background-color: var(--header-bg);
}

footer {
    color: var(--page-text);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

p {
    line-height: 1.5;
}

p.meta {
    color: teal;
}

li {
    line-height: 1.5;
    margin-bottom: 9px;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    padding: 20px 30px;
}

header, footer {
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.page {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--page-bg) initial;
    border-radius: 6px;
}

header h1 {
    color: var(--header-text);
    margin: 0;
    font-weight: normal;
    font-size: max(48px, 3.5vh);
}

h2 {
    font-size: x-large;
    font-weight: normal;
}

header a {
    color: var(--header-text);
}

header nav ul {
    list-style: none;
    margin: 0;
    font-size: max(22px, 1.6vh);
    padding: 0;
}

header nav ul li input {
    height: max(18px, 1vh);
    width: max(18px, 1vh);
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: var(--page-bg);
    color: var(--page-text)
}

pre {
    padding: 18px;
    border-radius: 6px;
    background: var(--page-dark-bg);
    font-family: Consolas, monospace;
    font-size: inherit;
}

code {
    padding: 1px 3px;
    border-radius: 6px;
    font-family: Consolas, monospace;
    font-size: medium;
    background-color: var(--page-dark-bg);
}

blockquote {
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 9px 18px;
}

blockquote.callout-success {
    background: var(--success-bg);
    border-left: 4px solid var(--success-text);
    color: var(--success-text)

}

blockquote.callout-faliure {
    background: var(--faliure-bg);
    border-left: 2px solid var(--faliure-text);
    color: var(--faliure-text);
}

/* big static checkboxes */
input[type="checkbox"]:disabled {
    width: 18px;
    height: 21px;
    float: left;
    vertical-align: center;
    margin: 12px;
}

/* remove the dot behind static checkboxes */
li:has(input)::marker {
    color: var(--page-bg)
}