{{ $file := .Get 0 }}
{{ $data := index .Site.Data $file }}

{{/* Define o número de colunas (padrão 2 caso $data.n_columns não exista) */}}
{{ $cols := $data.n_columns | default 2 }}

{{/* Mapeia a quantidade de colunas para as classes do Tachyons no breakpoint desktop/tablet (-ns) */}}
{{ $widthClass := "w-50-ns" }}
{{ if eq $cols 1 }}
  {{ $widthClass = "w-100-ns" }}
{{ else if eq $cols 3 }}
  {{ $widthClass = "w-33-ns" }}
{{ else if eq $cols 4 }}
  {{ $widthClass = "w-25-ns" }}
{{ else if eq $cols -1 }}
  {{ $widthClass = "" }}
{{ end }}

<ul class="list pl0 pv4 flex flex-wrap nl3 nr3 {{ $data.css_class }}">
  {{ range $data.items }}
  <li class="flex items-start pa3 {{ $widthClass }} {{ .css_class }}">
    <div class="pr3 flex-shrink-0">
      <span class="f3">
        {{ $iconName := .icon | default "ellipsis.svg" }}
        <img src="/images/icons/{{ $iconName }}" alt="Ícone {{ .title }}" class="w2 h2 db" />
      </span>
    </div>
    <div class="tl">
      {{ if .url }}
        <h3 class="heading4 mv0"><a href="{{ .url }}">{{ .title }}</a></h3>
      {{ else }}
        <h3 class="heading4 mv0">{{ .title }}</h3>
      {{ end }}
      <p class="mv1">{{ .description | safeHTML }}</p>
      {{ if .topics }}
        <ul class="lh-copy gray mv1">
        {{ range .topics }}
          <li>{{ . }}</li>
        {{ end }}
        </ul>
      {{ end }}
    </div>
  </li>
  {{ end }}
</ul>
