{{ $file := .Get 0 }}
{{ $data := index .Site.Data $file }}

<style>
  /* --- Telas de Celular e Tablet (Vertical) --- */
  .emphasis-list2 > li {
    width: 100%;
    border-bottom: 1px solid var(--slategray-300); /* Equivalente ao b--light-gray */
    padding-bottom: 2rem;
  }
  
  /* Remove a borda do último item no mobile (já que usamos borda inferior para separar) */
  .emphasis-list2 > li:last-child {
    border-bottom: none;
  }

  /* --- Telas Grandes / Desktop (Horizontal - 4 Colunas) --- */
  @media screen and (min-width: 60em) { /* Breakpoint -l do Tachyons */
    .emphasis-list2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .emphasis-list2 > li {
      width: 25%;
      border-bottom: none; /* Reseta a borda do mobile */
      border-left: 1px solid var(--slategray-300);
      padding-bottom: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    /* Remove a borda esquerda do primeiríssimo item no desktop */
    .emphasis-list2 > li:first-child {
      border-left: none;
      padding-left: 0;
    }
  }
</style>

<ul class="list w-90 mw6 mw8-l pt3 pl0 center flex flex-column flex-row-l flex-wrap emphasis-list2">
  {{ range $data.items }}
  <li class="flex items-start pv3 pt4-l ph3-l w-100 w-25-l b--gray bl-l">
    <div class="pr3 flex-shrink-0">
      <span class="f3">
        {{ $iconName := .icon | default "ellipsis.svg" }}
        <img src="/images/icons/{{ $iconName }}" alt="Ícone {{ .title }}" class="w2 h2 db" />
      </span>
    </div>
    <div class="tl">
      <h3 class="f4 fw6 lh-title mv0">{{ .title }}</h3>
      <p class="f5 lh-copy gray mv1"><i>{{ .description }}</i></p>
      {{ if .topics }}
        <ul class="f5 lh-copy gray mv1 pl3">
        {{ range .topics }}
          <li>{{ . }}</li>
        {{ end }}
        </ul>
      {{ end }}
    </div>
  </li>
  {{ end }}
</ul>
