{{ $file := .Get 0 }}
{{ $data := index .Site.Data $file }}

<ul class="list pl0 center ph3">
  {{ range $data.items }}
  <li class="flex items-start mb4">
    <div class="pr3 flex-shrink-0">
      <span class="f3">
        {{ $iconName := .icon | default "ellipsis.svg" }}
        <img src="/images/icons/{{ $iconName }}" alt="Ícone {{ .title }}" class="w2 h2 db" />
      </span>
    </div>
    <div class="tl">
      <h3 class="f4 fw6 lh-title mv0">{{ .title }}</h3>
      <p class="f5 lh-copy gray mv1"><i>{{ .description }}</i></p>
      {{ if .topics }}
        <ul class="f5 lh-copy gray mv1">
        {{ range .topics }}
          <li>{{ . }}</li>
        {{ end }}
        </ul>
      {{ end }}
    </div>
  </li>
  {{ end }}
</ul>