{{ $.Scratch.Add "labelClasses" "b db mb1 mt3" }}
{{ $.Scratch.Add "inputClasses" "w-100 pv3 ph3 bg-slategray-alt bn br2" }}

<style>
  input:focus, textarea:focus { outline: 2px solid var(--brand-color) }
  input[type="submit"] {
    border: none;
    background-color: var(--brand-color);
    color: var(--bg-color);
  }
  ::placeholder {
    color: var(--fg-color-alt);
  }
</style>

{{ partials.IncludeCached "social/follow.html" . }}

<form class="p" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">{{ lang.Translate "yourName" }}</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="Nome"  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">{{ lang.Translate "emailAddress" }}</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="E-mail"  aria-labelledby="email"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      {{ lang.Translate "emailRequiredNote" }}
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">{{ lang.Translate "message" }}</label>
    <textarea id="message" name="message" required placeholder="Mensagem" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>

    <input class="heading4 br2 w-100 mv2 pa3 ttu" type="submit" value="Enviar" />

</form>
